.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 10px;
}

.list__box {
  width: 100%;
}

.list__box__item {
  display: flex;
  cursor: pointer;

  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid #00000042;
  padding: 8px;
}
.list__box__item:hover {
  background-color: #dddddd;
}
.item__block {
  width: 120px;
  text-align: center;
}
