.app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:100%;
    flex-wrap: wrap;
    
}

.app__container {
    max-width: 40%;
    width: 100%;
}